@import "@colors.styl"
@import "@styleUtils.styl"

.outlineButtonRoot
  height 36px
  padding 0 8px 0 8px
  border none
  text-decoration none
  font-size 16px
  background-color transparent
  &:hover
    cursor pointer
  &:focus
    outline none

.buttonRoot
  position relative
  height 36px
  background-color primeGreen
  color white
  padding 0 8px 0 8px
  border none
  border-radius 4px
  font-size 16px
  text-decoration none
  blurAround()
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border-radius 4px
    background-color black
    opacity 0
    transition opacity 0.2s ease-in-out
  &:hover
    cursor pointer
    &::after
       opacity 1
  &:focus
    outline none
  &:active::before
    opacity 0.2