.fulfillStepRoot
  .inputsBlock
    display flex
    flex-direction column
    width 80%
    .inputWrapper
      margin-bottom 20px
      &:last-child
        margin-bottom 0
      p
        margin 0 0 12px 0
        font-size 22px
      .inputField
        width 100%
      .passwordToggle
        width 30px
        height 30px
  .buttonRoot
    margin-top 40px