@import "@colors.styl"

headerHeight = 50px

.headerRoot
  height headerHeight
  display flex
  flex-direction row
  justify-content flex-end
  align-items center
  position fixed
  top 0
  left 0
  right 0
  padding 0 20px
  z-index 90
  background-color white
  .userInfo
    position relative
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    height headerHeight
    padding 0 10px
    &:hover
      cursor pointer
      .tooltipWrapper
        visibility visible
        opacity 1
        z-index 99
    svg
      width 40px
      height 40px
      margin-right 10px
    p
      margin 0
      font-size 20px
    .tooltipWrapper
      display flex
      visibility hidden
      opacity 0
      align-items flex-end
      justify-content center
      flex-direction column
      position absolute
      padding 10px
      background-color transparent
      left -129px
      margin-bottom -8px
      top 100%
      transition opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
      z-index -1
      .tooltip
        width 180px
        background-color white
        text-align left
        padding 5px 0
        border-radius 4px
        margin 0
        box-shadow 0 0 5px rgba(lightGray, 0.8)
        a
          text-decoration none
          color black
        p
          padding 5px 10px
          margin 0
          transition color 0.3s ease-in-out
          &:hover
            color primeGreen
        hr
          height 1px
          border none
          background-color extraLightGray
          margin 2px 8px
      .tooltip::after, .tooltip::before
        content ''
        position absolute
        background-color white
        right 30px
        top 0
        width 20px
        height 20px
        box-shadow 0 0 5px rgba(lightGray, 0.8)
        z-index -1
        transform rotate(45deg)
      .tooltip::before
        z-index 1
        box-shadow none