@import "@styleUtils.styl"
@import "@colors.styl"

.contactsStepRoot
  .optionsWrapper
    width 100%
    display flex
    flex-direction row
    justify-content center
    .contactOption
      position relative
      width 80px
      height 80px
      margin 0
      background-repeat no-repeat
      border-radius 50px
      box-shadow 0 0 5px rgba(0, 0, 0, 0.5)
      background-color white
      transition background-color 0.2s ease-in-out
      blurAround(50px)
      &:hover
        cursor pointer
        &::after
          opacity 1
      &.selected
        background-color rgba(primeGreen, 0.2)
        &::after
          opacity 1
    .emailOption
      background-image url("@assets/email_black_48dp.svg")
      margin-right 30px
      background-size 56px 56px
      background-position center
    .tgOption
      background-image url("@assets/telegram_icon_136124.svg")
      background-size 65px 65px
      background-position 30% 50%
  .optionContent
    display grid
    grid-template-columns 1fr
    width 100%
    justify-items center
  .emailOptionRoot
    margin-top 60px
    width 80%
    grid-area 1 / 1 / 1 / 1
    opacity 0
    transition opacity 0.2s ease-in-out
    background-color white
    z-index 12
    &.selected
      opacity 1
      z-index 15
    .emailLabel
      margin 0 0 20px 0
      font-size 22px
      font-weight bold
    .emailInputWrapper
      width 100%
      display flex
      flex-direction row
      .inputFieldWrapper
        flex 1
      .buttonRoot
        margin-left 24px
  .tgOptionRoot
    width 80%
    margin-top 60px
    grid-area 1 / 1 / 1 / 1;
    opacity 0
    transition opacity 0.2s ease-in-out
    background-color white
    z-index 11
    &.selected
      opacity 1
      z-index 15
    .description
      font-size 22px
      font-weight bold
      margin 0 0 20px 0
    .buttonBlock
      display inline-grid
      grid-template-columns 1fr 1fr
      grid-gap 20px
      .buttonRoot
        display flex
        flex-direction row
        justify-content space-between
        align-items center
      .buttonIcon
        width 34px
        height 34px
        margin-left 12px