@import "@colors.styl"

.textEditorField
  box-sizing border-box
  border-radius 4px
  border 1px solid lightGray
  font-size 18px
  min-width 200px
  min-height 40px
  &:focus
    outline none
    box-shadow 0 0 4px rgba(primeGreen, 0.8)